.actions {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.actions > button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.actions > button:active {
    transform: scale(105%);
}

.actions .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}
