@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(#a2c5fe, #c2e9fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f5f4f4;
  width: 35rem;
  border-radius: 2.7rem;
  box-shadow:  10px 10px 40px #adacac;
  padding: 2rem;
}